/**
 * 由以下代码生成

@use 'vuetify/lib/styles/settings/colors';

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

@each $group, $list in colors.$colors {
  @debug '// ' + to-upper-case($group);
  @each $name, $value in $list {
    @if ($name == 'base') {
      $name: $group;
    } @else {
      $name: str-replace($name, 'accent-', 'a');
      $name: str-replace($name, 'darken-', 'd');
      $name: str-replace($name, 'lighten-', 'l');
      $name: $group + '-' + $name;
    }
    @debug '$' + $name + ': ' + $value + ';';
  }
  @debug '';
}
 */

// RED
$red: #f44336;
$red-l5: #ffebee;
$red-l4: #ffcdd2;
$red-l3: #ef9a9a;
$red-l2: #e57373;
$red-l1: #ef5350;
$red-d1: #e53935;
$red-d2: #d32f2f;
$red-d3: #c62828;
$red-d4: #b71c1c;
$red-a1: #ff8a80;
$red-a2: #ff5252;
$red-a3: #ff1744;
$red-a4: #d50000;

// PINK
$pink: #e91e63;
$pink-l5: #fce4ec;
$pink-l4: #f8bbd0;
$pink-l3: #f48fb1;
$pink-l2: #f06292;
$pink-l1: #ec407a;
$pink-d1: #d81b60;
$pink-d2: #c2185b;
$pink-d3: #ad1457;
$pink-d4: #880e4f;
$pink-a1: #ff80ab;
$pink-a2: #ff4081;
$pink-a3: #f50057;
$pink-a4: #c51162;

// PURPLE
$purple: #9c27b0;
$purple-l5: #f3e5f5;
$purple-l4: #e1bee7;
$purple-l3: #ce93d8;
$purple-l2: #ba68c8;
$purple-l1: #ab47bc;
$purple-d1: #8e24aa;
$purple-d2: #7b1fa2;
$purple-d3: #6a1b9a;
$purple-d4: #4a148c;
$purple-a1: #ea80fc;
$purple-a2: #e040fb;
$purple-a3: #d500f9;
$purple-a4: #aa00ff;

// DEEP-PURPLE
$deep-purple: #673ab7;
$deep-purple-l5: #ede7f6;
$deep-purple-l4: #d1c4e9;
$deep-purple-l3: #b39ddb;
$deep-purple-l2: #9575cd;
$deep-purple-l1: #7e57c2;
$deep-purple-d1: #5e35b1;
$deep-purple-d2: #512da8;
$deep-purple-d3: #4527a0;
$deep-purple-d4: #311b92;
$deep-purple-a1: #b388ff;
$deep-purple-a2: #7c4dff;
$deep-purple-a3: #651fff;
$deep-purple-a4: #6200ea;

// INDIGO
$indigo: #3f51b5;
$indigo-l5: #e8eaf6;
$indigo-l4: #c5cae9;
$indigo-l3: #9fa8da;
$indigo-l2: #7986cb;
$indigo-l1: #5c6bc0;
$indigo-d1: #3949ab;
$indigo-d2: #303f9f;
$indigo-d3: #283593;
$indigo-d4: #1a237e;
$indigo-a1: #8c9eff;
$indigo-a2: #536dfe;
$indigo-a3: #3d5afe;
$indigo-a4: #304ffe;

// BLUE
$blue: #2196f3;
$blue-l5: #e3f2fd;
$blue-l4: #bbdefb;
$blue-l3: #90caf9;
$blue-l2: #64b5f6;
$blue-l1: #42a5f5;
$blue-d1: #1e88e5;
$blue-d2: #1976d2;
$blue-d3: #1565c0;
$blue-d4: #0d47a1;
$blue-a1: #82b1ff;
$blue-a2: #448aff;
$blue-a3: #2979ff;
$blue-a4: #2962ff;

// LIGHT-BLUE
$light-blue: #03a9f4;
$light-blue-l5: #e1f5fe;
$light-blue-l4: #b3e5fc;
$light-blue-l3: #81d4fa;
$light-blue-l2: #4fc3f7;
$light-blue-l1: #29b6f6;
$light-blue-d1: #039be5;
$light-blue-d2: #0288d1;
$light-blue-d3: #0277bd;
$light-blue-d4: #01579b;
$light-blue-a1: #80d8ff;
$light-blue-a2: #40c4ff;
$light-blue-a3: #00b0ff;
$light-blue-a4: #0091ea;

// CYAN
$cyan: #00bcd4;
$cyan-l5: #e0f7fa;
$cyan-l4: #b2ebf2;
$cyan-l3: #80deea;
$cyan-l2: #4dd0e1;
$cyan-l1: #26c6da;
$cyan-d1: #00acc1;
$cyan-d2: #0097a7;
$cyan-d3: #00838f;
$cyan-d4: #006064;
$cyan-a1: #84ffff;
$cyan-a2: #18ffff;
$cyan-a3: #00e5ff;
$cyan-a4: #00b8d4;

// TEAL
$teal: #009688;
$teal-l5: #e0f2f1;
$teal-l4: #b2dfdb;
$teal-l3: #80cbc4;
$teal-l2: #4db6ac;
$teal-l1: #26a69a;
$teal-d1: #00897b;
$teal-d2: #00796b;
$teal-d3: #00695c;
$teal-d4: #004d40;
$teal-a1: #a7ffeb;
$teal-a2: #64ffda;
$teal-a3: #1de9b6;
$teal-a4: #00bfa5;

// GREEN
$green: #4caf50;
$green-l5: #e8f5e9;
$green-l4: #c8e6c9;
$green-l3: #a5d6a7;
$green-l2: #81c784;
$green-l1: #66bb6a;
$green-d1: #43a047;
$green-d2: #388e3c;
$green-d3: #2e7d32;
$green-d4: #1b5e20;
$green-a1: #b9f6ca;
$green-a2: #69f0ae;
$green-a3: #00e676;
$green-a4: #00c853;

// LIGHT-GREEN
$light-green: #8bc34a;
$light-green-l5: #f1f8e9;
$light-green-l4: #dcedc8;
$light-green-l3: #c5e1a5;
$light-green-l2: #aed581;
$light-green-l1: #9ccc65;
$light-green-d1: #7cb342;
$light-green-d2: #689f38;
$light-green-d3: #558b2f;
$light-green-d4: #33691e;
$light-green-a1: #ccff90;
$light-green-a2: #b2ff59;
$light-green-a3: #76ff03;
$light-green-a4: #64dd17;

// LIME
$lime: #cddc39;
$lime-l5: #f9fbe7;
$lime-l4: #f0f4c3;
$lime-l3: #e6ee9c;
$lime-l2: #dce775;
$lime-l1: #d4e157;
$lime-d1: #c0ca33;
$lime-d2: #afb42b;
$lime-d3: #9e9d24;
$lime-d4: #827717;
$lime-a1: #f4ff81;
$lime-a2: #eeff41;
$lime-a3: #c6ff00;
$lime-a4: #aeea00;

// YELLOW
$yellow: #ffeb3b;
$yellow-l5: #fffde7;
$yellow-l4: #fff9c4;
$yellow-l3: #fff59d;
$yellow-l2: #fff176;
$yellow-l1: #ffee58;
$yellow-d1: #fdd835;
$yellow-d2: #fbc02d;
$yellow-d3: #f9a825;
$yellow-d4: #f57f17;
$yellow-a1: #ffff8d;
$yellow-a2: #ffff00;
$yellow-a3: #ffea00;
$yellow-a4: #ffd600;

// AMBER
$amber: #ffc107;
$amber-l5: #fff8e1;
$amber-l4: #ffecb3;
$amber-l3: #ffe082;
$amber-l2: #ffd54f;
$amber-l1: #ffca28;
$amber-d1: #ffb300;
$amber-d2: #ffa000;
$amber-d3: #ff8f00;
$amber-d4: #ff6f00;
$amber-a1: #ffe57f;
$amber-a2: #ffd740;
$amber-a3: #ffc400;
$amber-a4: #ffab00;

// ORANGE
$orange: #ff9800;
$orange-l5: #fff3e0;
$orange-l4: #ffe0b2;
$orange-l3: #ffcc80;
$orange-l2: #ffb74d;
$orange-l1: #ffa726;
$orange-d1: #fb8c00;
$orange-d2: #f57c00;
$orange-d3: #ef6c00;
$orange-d4: #e65100;
$orange-a1: #ffd180;
$orange-a2: #ffab40;
$orange-a3: #ff9100;
$orange-a4: #ff6d00;

// DEEP-ORANGE
$deep-orange: #ff5722;
$deep-orange-l5: #fbe9e7;
$deep-orange-l4: #ffccbc;
$deep-orange-l3: #ffab91;
$deep-orange-l2: #ff8a65;
$deep-orange-l1: #ff7043;
$deep-orange-d1: #f4511e;
$deep-orange-d2: #e64a19;
$deep-orange-d3: #d84315;
$deep-orange-d4: #bf360c;
$deep-orange-a1: #ff9e80;
$deep-orange-a2: #ff6e40;
$deep-orange-a3: #ff3d00;
$deep-orange-a4: #dd2c00;

// BROWN
$brown: #795548;
$brown-l5: #efebe9;
$brown-l4: #d7ccc8;
$brown-l3: #bcaaa4;
$brown-l2: #a1887f;
$brown-l1: #8d6e63;
$brown-d1: #6d4c41;
$brown-d2: #5d4037;
$brown-d3: #4e342e;
$brown-d4: #3e2723;

// BLUE-GREY
$blue-grey: #607d8b;
$blue-grey-l5: #eceff1;
$blue-grey-l4: #cfd8dc;
$blue-grey-l3: #b0bec5;
$blue-grey-l2: #90a4ae;
$blue-grey-l1: #78909c;
$blue-grey-d1: #546e7a;
$blue-grey-d2: #455a64;
$blue-grey-d3: #37474f;
$blue-grey-d4: #263238;

// GREY
$grey: #9e9e9e;
$grey-l5: #fafafa;
$grey-l4: #f5f5f5;
$grey-l3: #eeeeee;
$grey-l2: #e0e0e0;
$grey-l1: #bdbdbd;
$grey-d1: #757575;
$grey-d2: #616161;
$grey-d3: #424242;
$grey-d4: #212121;
