@import './colors.scss';

html {
  user-select: none;
  font-variation-settings: 'wght' 400;
  font-family: var(--ion-font-family);

  > body {
    > #app {
      > .v-application {
        > .v-application__wrap {
          background: $grey-l4;
          > div {
            width: 100dvw;
            height: 100dvh;
            background: white;
            overflow: clip auto;
          }
        }
      }
    }
  }
}

:root {
  --ion-text-color: black;
  --ion-font-family: source-han-sans-sc-variable, var(--ion-default-font);
}

button.v-btn {
  text-transform: none;
}
